@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Comfortaa:wght@400;700&family=Dosis&family=Rubik+Bubbles&display=swap');
* {
  font-family: 'Anybody', cursive;
}

:root {
  --background-color-primary: #fff;
  --background-color-secondary: #efefef;
  --accent-color: #cacaca;
  --text-primary-color: #222;
  --element-size: 4rem;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #2d2d30;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;
}
