@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Comfortaa:wght@400;700&family=Dosis&family=Rubik+Bubbles&display=swap');
* {
  font-family: 'Anybody', cursive;
}

:root {
  --background-color-primary: #fff;
  --background-color-secondary: #efefef;
  --background-color-workshop: #D0B8A8;
  --accent-color: #cacaca;
  --text-primary-color: #222;
  --element-size: 4rem;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: rgb(15 23 42);
  --background-color-secondary: rgb(30 41 59);
  --background-color-workshop: rgb(51 65 85);
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;
}
